<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page Title -->
    <title>LearnEnglish</title>

    <!--orther -->
    <!-- Favicon -->
    <link rel="icon" href="image/icontittle.png"> 
    <!-- Bundle -->
    <link rel="stylesheet" href="vendor\css\bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="vendor\css\jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor\css\owl.carousel.min.css">
    <link rel="stylesheet" href="vendor\css\swiper.min.css">

    <link rel="stylesheet" href="dentist\css\cubeportfolio.min.css">
    <!-- Revolution Slider CSS Files -->
    <link rel="stylesheet" href="dentist\css\navigation.css">
    <link rel="stylesheet" href="dentist\css\settings.css">
    <!-- Slick CSS Files -->
    <link rel="stylesheet" href="dentist\css\slick.css">
    <link rel="stylesheet" href="dentist\css\slick-theme.css">
    <!-- Select -->
    <link rel="stylesheet" href="dentist\css\select2.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="dentist\css\style.css">
    <!-- Custom Style CSS File -->
    <link rel="stylesheet" href="dentist\css\custom.css">

    {{!-- more --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/usermanagement.css">
</head>

<body data-spy="scroll" data-target=".navbar-nav" data-offset="90">

{{!-- HEADER --}}

<header>
    <nav class="navbar navbar-top-default navbar-expand-lg static-nav transparent-bg nav-bottom-line">
        <div class="container">
            {{!-- <a class="logo" href="..\index-dental.html#home">
                <img src="img\logo.png" alt="logo" title="Logo" class="logo-default">
                <img src="img\logo2.png" alt="logo" title="Logo" class="logo-scrolled">
            </a> --}}
            <a class="logo" href="#" style="color: black; font-size:16px;font-weight: bold;">
                Learning<span style="color: red;">English</span>
            </a>
                <a href="/logout" class="btn btn-outline-primary" id="btn-logout-account" style="opacity: 0.8;">Logout</a>

            {{!-- <a href="/login" class="scroll btn-setting btn-scale btn-green text-white d-none d-lg-block">Login</a> --}}
            
            <!-- side menu open button -->
            <a class="menu_bars d-inline-block menu-bars-setting" id="sidemenu_toggle">
                <div class="menu-lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
    </nav>
    <!-- Side Menu -->
    <div class="side-menu">
        <div class="inner-wrapper nav-icon">
            <span class="btn-close" id="btn_sideNavClose"></span>
            <nav class="side-nav w-100">
                <div class="navbar-nav">
                    <a href="/dashboard" class="nav-link">Dash Board</a>
                    <a href="/usermanagement" class="nav-link">User Management</a>
                    <a href="/course_management" class="nav-link">Course Management</a>
                    <a href="/blogmanagement" class="nav-link">Blog Management</a>
                    <a href="/logout" class="nav-link" >Logout</a>
                    <a class="menu-line"><i class="fa fa-angle-right font-14" aria-hidden="true"></i></a>
                </div>
            </nav>

            <div class="side-footer text-white w-100">
                <ul class="social-icons-simple">
                    <li class="side-menu-icons"><a href="javascript:void(0)"><i class="fab fa-facebook-f color-white"></i> </a> </li>
                    <li class="side-menu-icons"><a href="javascript:void(0)"><i class="fab fa-instagram color-white"></i> </a> </li>
                    <li class="side-menu-icons"><a href="javascript:void(0)"><i class="fab fa-twitter color-white"></i> </a> </li>
                </ul>
                <p class="text-white">&copy; 2021 Learning EngLish. Made With Love by Me</p>
            </div>
        </div>
    </div>
    <a id="close_side_menu" href="javascript:void(0);"></a>
    <!--Side Menu-->
</header>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-10" id="titleordermanagement">
                        <h2><b>Blog</b> Management</h2>
                    </div>
                </div>
            </div>
            <input type="text" name="searchorder" id="searchorder" class="form-control form-control-sm" placeholder="Enter blog tittle ...">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Blog Tittle</th>
                        <th>Author</th>						
                        <th>Status</th>
                        <th>Detail</th>
                        <th>Change Status</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each blogs}}
                        <tr>
                            <th>{{this.blogtittle}}</th>
                            <td>{{this.author}}</td>
                            <td>{{this.blogstatus}}</td>
                            <td><a href="/blog/{{this._id}}"><button class="btn btn-outline-secondary" id="btndetailblog">Detail</button></a></td>
                            <td><button class="btn btn-outline-primary" id="btnchangestatus" data-toggle="modal" data-target="#modalchangestatus" data-idblogchange="{{this._id}}">Change</button></td>
                            <td><button class="btn btn-outline-danger" id="btndeleteblog" data-toggle="modal" data-target="#modaldeleteblog" data-idblog="{{this._id}}">Delete</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modaldeleteblog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/blogmanagement" method="post">
      <div class="modal-body">
        Are you sure?
        <input type="hidden" name="idblogdelete" id="idblogdelete" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="modalchangestatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Blog Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/blogmanagement/changestatus" method="post">
      <div class="modal-body">
        <input type="hidden" name="idblogchange" id="idblogchange" value="">
        <select class="form-select" id="statusblog" name="statusblog" aria-label="Default select example">
            <option value="working">working</option>
            <option value="report">report</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>










<script>

    document.addEventListener('DOMContentLoaded', function(event){

        var idblog;
        var idblogchange;
        $('#modaldeleteblog').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            idblog = button.data('idblog') // Extract info from data-* attributes
            document.getElementById('idblogdelete').value = idblog;
        })

        $('#modalchangestatus').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            idblogchange = button.data('idblogchange') // Extract info from data-* attributes
            document.getElementById('idblogchange').value = idblogchange;
        })

    })
 
</script>










{{!-- FOOTER --}}
<footer class="bg-light-gray footer-transform-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <p class="copyrights px-0 py-5">© 2021 Learning EngLish. Made with love by <a href="javascript:void(0)">Me</a></p>
            </div>
        </div>
    </div>
</footer>


{{!-- FINISH FOOTER --}}

<!-- JavaScript -->
<script src="vendor\js\bundle.min.js"></script>

<!-- Plugin Js -->
<script src="vendor\js\jquery.fancybox.min.js"></script>
<script src="vendor\js\owl.carousel.min.js"></script>
<script src="vendor\js\swiper.min.js"></script>
<script src="vendor\js\jquery.cubeportfolio.min.js"></script>
<script src="vendor\js\jquery.appear.js"></script>
<script src="vendor\js\parallaxie.min.js"></script>
<script src="vendor\js\wow.js"></script>
<script src="dentist\js\select2.min.js"></script>
<!-- Slick JS File -->
<script src="dentist\js\slick.min.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="vendor\js\jquery.themepunch.tools.min.js"></script>
<script src="vendor\js\jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="vendor\js\extensions\revolution.extension.actions.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.carousel.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.kenburn.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.layeranimation.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.migration.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.navigation.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.parallax.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.slideanims.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.video.min.js"></script>

<!--contact form-->
<script src="vendor\js\contact_us.js"></script>

<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgIfLQi8KTxTJahilcem6qHusV-V6XXjw"></script>
<script src="dentist\js\maps.min.js"></script>

<!-- custom script -->
<script src="dentist\js\script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>