<div class="container-account">
    <div class="left-container-account">
        {{#if avatar}}
            <img src="image/default-avatar.png" alt="avatar" class="avatar-account">
        {{else}}
            <img class="avatar-account" src="{{img}}" alt="avatar"> 
        {{/if}}
        
        {{#if messucess}}
            <script>
                alert("Change password sucessfully!!!");
            </script>
        {{/if}}

        {{#if meserr}}
            <script>
                alert("Change password is not finish!!! Please check your infomation.");
            </script>
        {{/if}}

        <h4>{{firstname}} {{lastname}}</h4>
        <p>{{email}}</p>
         <ul>
             <li><a href="/account">My Info</a></li>
             {{#if teacher}}
             <li><a href="/aboutcreatecourse">How to create course?</a></li>
             <li><a href="/coursemanagement">Course Management</a></li>
             {{else}}
            <li><a href="/mycourse">My Course</a></li>
             {{/if}}
             <li><a href="/changepassword">Change Password</a></li>
             <li><a href="/updateavatar">Change Avatar</a></li>
         </ul>
    </div>
    <div class="right-container-password">
        <h3>Change Password</h3>
        <div class="form-change-password">
            <form action="/changepassword" method="post">
            <p>Old Password</p>
            <h5 id="mesoldpass">Old password required. Please enter your old password.</h5>
            <input type="password" name="oldpass" id="oldpass" class="form-control">
            <p>New Password</p>
            <h5 id="mesnewpass">New password required. Please enter your new password.</h5>
            <h5 id="mesnewpass-err">Please enter a password between 8-12 characters (no spaces) at least one letter, one number and one special character.</h5>
            <input type="password" name="newpass" id="newpass" class="form-control">
            <p>Pre New Password</p>
            <h5 id="mesprenewpass">Pre new password required. Please enter your pre new password.</h5>
            <h5 id="mesprenewpass-err">Pre new password is not match. Please enter your pre new password.</h5>
            <input type="password" name="prenewpass" id="prenewpass" class="form-control">
            <button class="btn btn-outline-secondary" id="change-password"> Change Password</button>
            </form>
        </div>
    </div>
</div>
